/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body {
  background-color:#f1f2f6;
}

.home .hero img
  max-width 450px!important

p
  text-align justify

